

.navbar {
    /* display: flex; */
  display: flex;
  justify-content: space-between;
  
  background-color: #111827;
  border-bottom: 1px solid #ccc;
  padding: 10px 20px;
}

.navbar-menu {
  display: none;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.navbar-menu > li {
  position: relative;
  padding: 10px 15px;
}

.navbar-menu a {
  text-decoration: none;
  color: #fff;
  display: block;
}

.navbar-menu a:hover {
  background-color: #111827;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #111827;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 1000;
}

.navbar-menu > li:hover .dropdown-menu {
  display: block;
}

.dropdown-menu li a {
  padding: 10px 15px;
  width: 200px;
  white-space: nowrap;
}

.dropdown-menu li a:hover {
  background-color: #111827;
}
